<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>HaLo Gateway Server</title>
</head>
<body>
<div class="container">
    <h1>HaLo Gateway server</h1>
    <button id="click-btn" class="btn btn-primary">Confirm</button>
    <pre id="log">Connecting to the server...</pre>
</div>
<script src="/assets/static/libhalo.js"></script>
<script src="/assets/static/ws_client.js"></script>
<script>
    function log(data) {
        console.log(data);
        document.getElementById('log').innerText = data;
    }

    async function run() {
        let jweUtil = new JWEUtil();
        let searchParts = window.location.hash.split('/');
        let currentCmd = null;
        let wsp;

        await jweUtil.loadKey(searchParts[2]);

        document.getElementById('click-btn').disabled = true;
        document.getElementById('click-btn').onclick = async function (ev) {
            document.getElementById('click-btn').disabled = true;
            let res;

            try {
                res = await execHaloCmdWeb(currentCmd);
            } catch (e) {
                document.getElementById('click-btn').disabled = false;
                return;
            }

            currentCmd = null;
            wsp.sendPacked({"type": "executed_cmd", "payload": await jweUtil.encrypt(res)});
            log("Executed command, result sent.");
        };

        // TODO validate searchParts[1]
        let protocol;

        if (window.location.protocol === 'https:') {
            protocol = 'wss://';
        } else {
            protocol = 'ws://';
        }

        wsp = createWs(protocol + window.location.host + '/?side=executor&sessionId=' + searchParts[1]);

        wsp.onUnpackedMessage.addListener(async ev => {
            if (ev.type === "ping") {
                log("Received welcome from server. Waiting for command");
            } else if (ev.type === "requested_cmd") {
                let payload = await jweUtil.decrypt(ev.payload);
                log("Requested to execute the following command:\n" + JSON.stringify(payload, null, 4));
                currentCmd = ev.payload;
                document.getElementById('click-btn').disabled = false;
            } else {
                log("Unknown packet:\n" + JSON.stringify(ev));
            }
        });

        wsp.onClose.addListener(event => {
            log('Connection closed: ' + event.code);
        });

        wsp.open();
    }

    run();
</script>
</body>
</html>
