<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/static/style.css" />

    <title>HaLo Gateway Server</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>HaLo Gateway server</h1>
        <button id="click-btn" class="button button--success" disabled>Waiting for command...</button>
        <pre class="log-box" id="log">Please wait, connecting...</pre>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="58"
        height="20"
        fill="none"
        viewBox="0 0 58 20"
      >
        <path
          fill="currentColor"
          d="M34.263 5.253h-6.616v14.238h-4.75V6.694A6.189 6.189 0 0 1 29.09.507h5.174v4.746ZM20.014.51v18.98h-4.75v-.982A9.964 9.964 0 0 1 10.007 20C4.481 19.998 0 15.523 0 9.999 0 4.475 4.481 0 10.007 0c1.93 0 3.73.548 5.257 1.492V.51h4.75ZM15.264 10a5.255 5.255 0 0 0-5.257-5.253 5.255 5.255 0 0 0-5.257 5.253 5.255 5.255 0 0 0 5.257 5.253 5.255 5.255 0 0 0 5.257-5.253Zm36.114 0 1.857-2.784L57.709.51H52l-4.014 6.017-.027.04-.054.08a6.182 6.182 0 0 0-.918 2.42h-.142a6.123 6.123 0 0 0-.919-2.418l-.052-.082-.027-.04L41.833.51h-5.708l2.46 3.683L42.457 10l-1.857 2.784-4.474 6.708h5.709l4.014-6.018.027-.04.054-.08c.465-.719.783-1.54.918-2.42h.142c.133.88.454 1.701.919 2.418l.052.081.027.041 4.014 6.018h5.708l-2.459-3.684L51.378 10Z"
        ></path>
      </svg>
    </div>
    <script src="/assets/static/libhalo.js"></script>
    <script>
      function log(data) {
        console.log(data);
        document.getElementById("log").innerText = data;
      }

      function toggleConfirmBtn(isEnabled) {
        document.getElementById('click-btn').disabled = !isEnabled;
        document.getElementById('click-btn').innerText = isEnabled ? 'Confirm and scan HaLo' : 'Waiting for command...';
      }

      function redactCommandObj(originalObject) {
          // ensure deep copy
          let obj = JSON.parse(JSON.stringify(originalObject));

          for (const key of Object.keys(obj)) {
              if (key.toLowerCase().includes("password")) {
                  obj[key] = "<< REDACTED >>";
              }
          }

          return obj;
      }

      toggleConfirmBtn(false);

      async function confirmButtonClicked(ev) {
        toggleConfirmBtn(false);

        try {
          await haloGateExecutorUserConfirm(log);
        } catch (e) {
          log("Something went wrong when running the command.\n" + e.stack);
          toggleConfirmBtn(true);
          return;
        }

        log("Executed command, result sent.");
      }

      async function run() {
        try {
          await haloGateExecutorCreateWs(log, (command) => {
            // callback when a new command arrives
            log(
              "Requested to execute the following command:\n" +
                JSON.stringify(redactCommandObj(command), null, 4)
            );
            toggleConfirmBtn(true);
          });
        } catch (e) {
          log(
            "Something went wrong any we've failed to initialize.\n" + e.stack
          );
          return;
        }

        document.getElementById("click-btn").onclick = confirmButtonClicked;
      }

      run();
    </script>
  </body>
</html>
