<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>HaLo Bridge Server</title>
</head>
<body>
<div class="container">
    <h1>HaLo Bridge Server</h1>
    <p>
        This is the example web application of HaLo Bridge Server.
        Please connect your PC/SC reader and tap the compatible HaLo tag.
    </p>
    <pre id="log" style="word-break: break-all; white-space: pre-wrap;">Connecting to the server...</pre>
</div>
<script src="/assets/static/libhalo.js"></script>
<script>
    let wsp = null;

    const wsPort = {{ wsPort }};
    const wssPort = {{ wssPort }};

    function log(data) {
        console.log(data);
        document.getElementById('log').innerText += '\n' + data;
    }

    async function execHaloCommand(command) {
        log('Executing command: ' + JSON.stringify(command));
        let res = await wsp.sendRequest(command);

        if (res.event === "exec_success") {
            log('Command executed successfully: ' + JSON.stringify(res));
        } else if (res.event === "exec_exception") {
            log('[!] Failed to execute command: ' + JSON.stringify(res));
        } else {
            log('Unknown response: ' + JSON.stringify(res));
        }
    }

    async function processTag(handle) {
        await execHaloCommand({
            "type": "exec_halo",
            "handle": handle,
            "command": {
                "name": "get_pkeys"
            }
        });

        await execHaloCommand({
            "type": "exec_halo",
            "handle": handle,
            "command": {
                "name": "sign",
                "message": "010203",
                "keyNo": 1
            }
        });
    }

    async function run() {
        let wsAddress = await haloFindBridge({
            wsPort: wsPort,
            wssPort: wssPort
        });

        wsp = haloCreateWs(wsAddress);

        wsp.onUnpackedMessage.addListener(async ev => {
            if (ev.event !== "exec_success" && ev.event !== "exec_exception") {
                switch (ev.event) {
                    case 'ws_connected':
                        log('Connected to the server.');
                        break;
                    case 'reader_added':
                        log('Reader connected: ' + ev.data.reader_name);
                        break;
                    case 'reader_removed':
                        log('Reader disconnected: ' + ev.data.reader_name);
                        break;
                    case 'handle_added':
                        log('Detected tag: ' + ev.data.reader_name + ' (handle: ' + ev.data.handle + ')');
                        break;
                    case 'handle_removed':
                        log('Removed tag: ' + ev.data.reader_name + ' (handle: ' + ev.data.handle + ')');
                        break;
                    case 'handle_not_compatible':
                        log('Detected incompatible tag: ' + ev.data.reader_name + ' (message: ' + ev.data.message + ')');
                        break;
                }
            }

            if (ev.event === "handle_added") {
                await processTag(ev.data.handle);
            }
        });

        wsp.onClose.addListener(event => {
            if (event.code === 1006) {
                log('IMPORTANT: You might be missing a local certificate, which is required for halo-bridge on Safari. ' +
                    'If the halo-bridge doesn\'t work at all, please try to reinstall the entire toolset using the ' +
                    'release PKG file. When the installer will ask you about certificate generation, ' +
                    'please choose "Generate certificate" option.');
            }

            if (event.code === 4001) {
                log('Connection closed, new client has connected.');
            } else {
                log('Connection closed: ' + event.code);
            }
        });

        wsp.open();
    }

    run();
</script>
</body>
</html>
