name: Check libhalo.js

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'cli/README.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'cli/README.md'
      - 'docs/**'
    branches:
      - master

jobs:
  check_js_lib:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Enable corepack
        run: |
          corepack enable
      - name: Install dependencies
        run: |
          yarn workspaces focus --all
          yarn install --immutable
      - name: Run tsc (core)
        run: |
          cd core
          ./node_modules/.bin/tsc
          ./node_modules/.bin/tsc -p tsconfig.commonjs.json
      - name: Run webpack (core)
        run: |
          cd core
          ./node_modules/.bin/webpack
