name: Release halo-tools

on:
  push:
    tags:
      - 'halotools-v*'

jobs:
  create_release:
    name: Create halo-tools release
    runs-on: ubuntu-24.04
    steps:
      - name: Prepare version number
        id: parse_version
        run: |
          ( echo -n "version=" && ( echo "$GITHUB_REF" | cut -f2 -d- | tr -d '\n' ) ) >> "$GITHUB_OUTPUT"
      - name: Draft release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          name: HaLo Tools ${{ steps.parse_version.outputs.version }}
          draft: true
          prerelease: false
          body: |
            Set of standalone HaLo tools: [halocli](https://github.com/arx-research/libhalo/blob/master/docs/desktop-cli.md), [halo-bridge](https://github.com/arx-research/libhalo/blob/master/docs/halo-bridge.md), [halo-gateway](https://github.com/arx-research/libhalo/blob/master/docs/halo-gateway.md).
            
            Release contents:
            * `halo-tools-linux-x64.tgz` - Linux x64 build (elf files; tar-gzip compressed)
            * `halo-tools-win-x64.exe` - Windows 64 build (exe files; signed; zipped)
            * `halo-tools-macos-x64.pkg` - Mac OS x64 build (installer; signed)
            
            **Note:** The files `*-keyless.sig` and `*-keyless.pem` constitute a part of [build audit trail](https://github.com/arx-research/libhalo/blob/master/docs/build-audit-trail.md).

  build_cli_tool:
    permissions:
      id-token: write
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            platform: ubuntu
          - os: windows-2025
            platform: windows
          - os: macos-15-large
            platform: macos
    name: Build halo-tools (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}
    needs: create_release
    steps:
      - name: Install native dependencies (Linux)
        if: matrix.platform == 'ubuntu'
        run: |
          sudo apt-get update && sudo apt-get install -y libpcsclite-dev
      - name: Install native dependencies (MacOS)
        if: matrix.platform == 'macos'
        run: |
          brew install pcsc-lite
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Enable corepack
        run: |
          corepack enable
      - name: Install dependencies
        shell: bash
        run: |
          yarn workspaces focus --all
          yarn install --immutable
      - name: Run tsc (core)
        run: |
          cd core
          yarn tsc
      - name: Run webpack (core)
        run: |
          cd core
          yarn webpack
      - name: Run tsc (cli)
        run: |
          cd cli
          yarn tsc
      - name: Build halo-tools with webpack
        shell: bash
        run: |
          cd cli
          yarn webpack
          mv dist_webpack/* .
          mkdir build
          cp ../node_modules/@pokusew/pcsclite/build/Release/pcsclite.node build/pcsclite.node
          cp package.json orig-package.json
      - name: Package HaLo CLI tool (Linux)
        if: matrix.platform == 'ubuntu'
        shell: bash
        run: |
          cd cli
          node ./build_scripts/ci_scripts.js --platform linux --product cli
          npx json-merger orig-package.json bin-cli.json -p -o package.json
          yarn pkg --compress GZip -t node20-linux-x64 -o dist/halocli .
          node ./build_scripts/ci_scripts.js --platform linux --product bridge
          npx json-merger orig-package.json bin-bridge.json -p -o package.json
          yarn pkg --compress GZip -t node20-linux-x64 -o dist/halo-bridge .
          node ./build_scripts/ci_scripts.js --platform linux --product gateway
          npx json-merger orig-package.json bin-gateway.json -p -o package.json
          yarn pkg --compress GZip -t node20-linux-x64 -o dist/halo-gateway .
      - name: Package HaLo CLI tool (Windows)
        if: matrix.platform == 'windows'
        shell: bash
        run: |
          cd cli
          node ./build_scripts/ci_scripts.js --platform windows --product cli
          export PKG_CACHE_PATH='./.pkg-cache/'
          export PKG_IGNORE_TAG='1'
          npx json-merger orig-package.json bin-cli.json -p -o package.json
          yarn pkg --compress GZip -t node20-win-x64 -o dist/halocli.exe .
      - name: Package HaLo Bridge tool (Windows)
        if: matrix.platform == 'windows'
        shell: bash
        run: |
          cd cli
          node ./build_scripts/ci_scripts.js --platform windows --product bridge
          export PKG_CACHE_PATH='./.pkg-cache/'
          export PKG_IGNORE_TAG='1'
          npx json-merger orig-package.json bin-bridge.json -p -o package.json
          yarn pkg --compress GZip -t node20-win-x64 -o dist/halo-bridge.exe .
      - name: Package HaLo Gateway tool (Windows)
        if: matrix.platform == 'windows'
        shell: bash
        run: |
          cd cli
          node ./build_scripts/ci_scripts.js --platform windows --product gateway
          export PKG_CACHE_PATH='./.pkg-cache/'
          export PKG_IGNORE_TAG='1'
          npx json-merger orig-package.json bin-gateway.json -p -o package.json
          yarn pkg --compress GZip -t node20-win-x64 -o dist/halo-gateway.exe .
      - name: Package HaLo CLI tool (MacOS)
        if: matrix.platform == 'macos'
        shell: bash
        run: |
          cd cli
          node ./build_scripts/ci_scripts.js --platform macos --product cli
          npx json-merger orig-package.json bin-cli.json -p -o package.json
          yarn pkg --compress GZip -t node20-macos-x64 -o dist/halocli .
          node ./build_scripts/ci_scripts.js --platform macos --product bridge
          npx json-merger orig-package.json bin-bridge.json -p -o package.json
          yarn pkg --compress GZip -t node20-macos-x64 -o dist/halo-bridge .
          node ./build_scripts/ci_scripts.js --platform macos --product gateway
          npx json-merger orig-package.json bin-gateway.json -p -o package.json
          yarn pkg --compress GZip -t node20-macos-x64 -o dist/halo-gateway .
          mv "macos_bridge_app" "dist/HaLo CLI Bridge Server.app"
          mv "macos_pkgbuild_scripts" "dist/macos_pkgbuild_scripts"
          mv "Entitlements.plist" "dist/Entitlements.plist"
      - name: Compress dist files
        shell: bash
        run: |
          cd cli/dist
          tar -pczf ../dist.tgz .
      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
      - name: Sign output with cosign
        run: |
          echo y | cosign sign-blob ./cli/dist.tgz --output-certificate ./cli/dist.tgz-keyless.pem --output-signature ./cli/dist.tgz-keyless.sig
      - name: Store binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}
          path: |
            ./cli/dist.tgz
            ./cli/dist.tgz-keyless.pem
            ./cli/dist.tgz-keyless.sig            

  sign_cli_tool:
    environment: production
    permissions:
      contents: write
      id-token: write
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            out_name: halo-tools-linux-x64.tgz
            platform: ubuntu
          - os: windows-2025
            out_name: halo-tools-win-x64.zip
            platform: windows
          - os: macos-15-large
            out_name: halo-tools-macos-x64.pkg
            platform: macos
    name: Sign halo-tools and release (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}
    needs: build_cli_tool
    steps:
      - name: Download binary from artifact
        uses: actions/download-artifact@v4
        with:
          name: binary-${{ matrix.os }}
      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
      - name: Validate signatures from previous stage
        shell: bash
        run: |
          cosign verify-blob --cert ./dist.tgz-keyless.pem --signature ./dist.tgz-keyless.sig --certificate-identity "https://github.com/arx-research/libhalo/.github/workflows/prod_build_cli.yml@${GITHUB_REF}" --certificate-oidc-issuer https://token.actions.githubusercontent.com ./dist.tgz
      - name: Uncompress previous stage
        run: |
          tar -xopf dist.tgz
      - name: Compress application (Linux)
        if: matrix.platform == 'ubuntu'
        run: |
          chmod +x halocli
          chmod +x halo-bridge
          chmod +x halo-gateway
          tar -pczf halo-tools-linux-x64.tgz halocli halo-bridge halo-gateway
      - name: Write certificate file (Windows)
        if: matrix.platform == 'windows'
        uses: DamianReeves/write-file-action@6929a9a6d1807689191dcc8bbe62b54d70a32b42 # v1.3
        with:
          path: ./chain.cer
          write-mode: overwrite
          contents: ${{ vars.WINDOWS_CODE_SIGN_CERT_CHAIN }}
      - name: Authenticate with gcloud (Windows)
        if: matrix.platform == 'windows'
        uses: google-github-actions/auth@140bb5113ffb6b65a7e9b937a81fa96cf5064462 # v2.1.11
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      - name: Download and verify KMS CNG
        if: matrix.platform == 'windows'
        shell: bash
        run: |
          curl -s -L -o kmscng.zip https://github.com/GoogleCloudPlatform/kms-integrations/releases/download/cng-v1.2/kmscng-1.2-windows-amd64.zip
          echo "2ef04422c33a7f3323acddaf8c096f2b5f11036bca6dce6f84f0e6650fcec42b kmscng.zip" > kmscng.sum
          sha256sum -c kmscng.sum
      - name: Unzip KMS CNG
        if: matrix.platform == 'windows'
        shell: bash
        run: |
          unzip kmscng.zip
      - name: Install KMS CNG
        if: matrix.platform == 'windows'
        run: |
          msiexec /package "kmscng-1.2-windows-amd64\kmscng.msi" /quiet
      - name: Sign application (Windows)
        if: matrix.platform == 'windows'
        run: |
          & 'C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe' sign /fd sha256 /td sha256 /f chain.cer /csp "Google Cloud KMS Provider" /tr "${{ vars.WINDOWS_CODE_SIGN_TIMESTAMP_SERVER }}" /kc "${{ secrets.GCP_SIGN_CRYPTO_KEY_RESOURCE }}/cryptoKeyVersions/${{ vars.GCP_SIGN_CRYPTO_KEY_VERSION }}" halocli.exe
          & 'C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe' sign /fd sha256 /td sha256 /f chain.cer /csp "Google Cloud KMS Provider" /tr "${{ vars.WINDOWS_CODE_SIGN_TIMESTAMP_SERVER }}" /kc "${{ secrets.GCP_SIGN_CRYPTO_KEY_RESOURCE }}/cryptoKeyVersions/${{ vars.GCP_SIGN_CRYPTO_KEY_VERSION }}" halo-bridge.exe
          & 'C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe' sign /fd sha256 /td sha256 /f chain.cer /csp "Google Cloud KMS Provider" /tr "${{ vars.WINDOWS_CODE_SIGN_TIMESTAMP_SERVER }}" /kc "${{ secrets.GCP_SIGN_CRYPTO_KEY_RESOURCE }}/cryptoKeyVersions/${{ vars.GCP_SIGN_CRYPTO_KEY_VERSION }}" halo-gateway.exe
      - name: Compress application (Windows)
        if: matrix.platform == 'windows'
        run: |
          Compress-Archive -Path halocli.exe,halo-bridge.exe,halo-gateway.exe halo-tools-win-x64.zip
      - name: Load signing credentials (Mac OS)
        if: matrix.platform == 'macos'
        uses: apple-actions/import-codesign-certs@65cfbc37e1464d733524cb555b724878f278b8c3 # v5.0.2
        with:
          p12-file-base64: ${{ secrets.MACOS_SIGN_P12 }}
          p12-password: ${{ secrets.MACOS_SIGN_P12_PASSWORD }}
      - name: Sign application (Mac OS)
        if: matrix.platform == 'macos'
        run: |
          mkdir -p root/usr/local/bin/
          mkdir -p root/Applications/
          mv halocli root/usr/local/bin/halocli
          mv halo-bridge root/usr/local/bin/halo-bridge
          mv halo-gateway root/usr/local/bin/halo-gateway
          mv "HaLo CLI Bridge Server.app" "root/Applications/HaLo CLI Bridge Server.app"
          /usr/bin/codesign --deep --force --options=runtime --entitlements ./Entitlements.plist --sign "${{ secrets.MACOS_SIGN_IDENTITY_APPLICATION }}" --timestamp ./root/usr/local/bin/halocli
          /usr/bin/codesign --deep --force --options=runtime --entitlements ./Entitlements.plist --sign "${{ secrets.MACOS_SIGN_IDENTITY_APPLICATION }}" --timestamp ./root/usr/local/bin/halo-bridge
          /usr/bin/codesign --deep --force --options=runtime --entitlements ./Entitlements.plist --sign "${{ secrets.MACOS_SIGN_IDENTITY_APPLICATION }}" --timestamp ./root/usr/local/bin/halo-gateway
          /usr/bin/codesign --deep --force --sign "${{ secrets.MACOS_SIGN_IDENTITY_APPLICATION }}" --timestamp "./root/Applications/HaLo CLI Bridge Server.app"
          chmod +x ./root/usr/local/bin/halocli
          chmod +x ./root/usr/local/bin/halo-bridge
          chmod +x ./root/usr/local/bin/halo-gateway
          chmod +x "./root/Applications/HaLo CLI Bridge Server.app/Contents/MacOS/halocli_bridge_launcher"
          pkgbuild --root ./root --identifier "org.arx.halo.halocli" --version "1.0.$(date +%s)" --scripts "macos_pkgbuild_scripts/" --install-location "/" --sign "${{ secrets.MACOS_SIGN_IDENTITY_INSTALLER }}" ./halo-tools-macos-x64.pkg
      - name: Notarize application for Mac OS
        if: matrix.platform == 'macos'
        run: |
          xcrun notarytool submit "--apple-id=${{ secrets.MACOS_NOTARIZE_APPLE_ID }}" "--password=${{ secrets.MACOS_NOTARIZE_PASSWORD }}" "--team-id=${{ secrets.MACOS_NOTARIZE_TEAM_ID }}" --progress --wait ./halo-tools-macos-x64.pkg
      - name: Staple notarized application (Mac OS)
        if: matrix.platform == 'macos'
        run: |
          xcrun stapler staple ./halo-tools-macos-x64.pkg
          rm -rf ./root/
      - name: Sign output binaries with cosign
        run: |
          echo y | cosign sign-blob ./${{ matrix.out_name }} --output-certificate ./${{ matrix.out_name }}-keyless.pem --output-signature ./${{ matrix.out_name }}-keyless.sig
      - name: Upload release assets
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          files: |
            ./${{ matrix.out_name }}
            ./${{ matrix.out_name }}-keyless.pem
            ./${{ matrix.out_name }}-keyless.sig
      - name: Delete binary artifact
        if: always()
        uses: geekyeggo/delete-artifact@f275313e70c08f6120db482d7a6b98377786765b # v5.1.0
        with:
          name: binary-${{ matrix.os }}
